<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Палочки. Браузер против сервера</title>
		<style>
			body{
				background-color: #eecc55;
			}
			div{
				width: 60%;
				margin: 0 auto;
				padding: 2% 7%;
				background-color: #feffee;
			}
			h1{
				color: #778822;
				padding: 20px 0;
				font-family: Bookman Old Style;
				text-align: center;
				font-size: 3em;
			}

			h2{
				color: #ccaa00;
				font-family: Bookman Old Style;
				text-align: center;
				margin: 30px 0;
				font-size: 2em;
			}

			p{
				font-family: Bookman Old Style;
				font-size: 1.3em;
				text-align: justify;
				font-weight: bold;
			}

			input{
				margin: 0 0 0 40%;
				padding: 6px;
				font-size: 1.2em;
				width: 20%;
				font-family: Bookman Old Style;
				font-weight: bold;
				background-color: #ccff22;
				cursor: pointer;
			}

			table, td{
				border: 2px solid black;
				border-collapse: collapse;
				margin: 0 auto;
			}

			td {
				font-weight: normal;
				padding: 5px;
				text-align: center;
			}

		</style>
	</head>

	<body>
		<div>
			<h1>Игра "Палочки"</h1>
			<p>Увлекательная игра для браузера и сервера. Выберите количество палочек. Каждый из них по очереди будет брать одну, две или три палочки. Взявший последнюю палочку проиграет. Узнай, кто сильнее - браузер или сервер =)</p>
			<form action="/">
				<input type="submit" value="Начать игру">
			</form>
			<script>
				var k=+prompt('Введите число палочек:');
			
				if(k>1){
					var choise= Math.random();
					if (choise<=0.5) {
						choise='Браузер';
					}
					else {
						choise='Сервер';
					}

					alert("Игру начнет " + choise);
			
					if (choise=='Браузер') {
						window.location.assign("/home/welcome/?a=" + k + "&b=" + 0);
					}
					else {
						window.location.assign("/home/redirector/?a=" + k + "&b=" + 0);
					}
				}

			</script>
			
			<h2>Сыгранные ранее игры</h2>
				<table>
					<% @games.each do |game| %>
					<tr>
						<td><%= game.created_at %> </td>
						<td><strong>За <%= game.steps %> шаг(a/ов)</strong></td>
						<td>Победитель - <strong><%= game.winner %></strong> </td> 
						<td><%= link_to 'Подробнее', game %> </td>
					</tr>
					<% end %>
				</table>
		</div>
	</body>
</html>